# **Studio-Afrik**

## Overview

## Business Understanding

## Data Understanding

## Imports & Data

The code cell below contain libraries that are essential in this project analysis.

In [76]:
# Perfom data manipulation and analysis.
import pandas as pd

# Perfoming mathematical calculations.
import numpy as np

# The two libraries below will aid in creating visualizations.
import matplotlib as plt 
import seaborn as sns

# This library helps in accessing our relational database.
import sqlite3

# Code below imports all code in the custom_func file
from custom_code import *

### Working with available data

1. **Relational Database**

        im.db

2. **CSV FILES**

### 1. Relational Database

Here, I am creating a Connection to the relational database from im.db using module sqlite3.

In [77]:
path = "Data/im.db"
conn = sqlite3.connect(path)

Display all tables in the im.db database

In [78]:
imdb_tables = """
SELECT name 
FROM sqlite_master 
    WHERE type = 'table';
"""

# print tables in the sql database
pd.read_sql(imdb_tables, conn)

            name
0   movie_basics
1      directors
2      known_for
3     movie_akas
4  movie_ratings
5        persons
6     principals
7        writers

## Data Preparation

Display what the principals table contains.

In [79]:
principals_tables = pd.read_sql("""
SELECT * 
FROM principals
LIMIT 2;
""", conn)

principals_tables

    movie_id  ordering  person_id  category   job   characters
0  tt0111414         1  nm0246005     actor  None  ["The Man"]
1  tt0111414         2  nm0398271  director  None         None

Display all job roles in the imdb movie indurstry.

In [80]:
job_category = pd.read_sql("""
SELECT DISTINCT category 
FROM principals;
""", conn)

job_category

               category
0                 actor
1              director
2              producer
3                editor
4               actress
5              composer
6       cinematographer
7                writer
8                  self
9   production_designer
10      archive_footage
11        archive_sound

Get the **director names** by joining the directors table with the persons table **using column person_id**.

In [81]:
director_data = pd.read_sql("""
SELECT DISTINCT d.person_id AS director_id, p.person_id, p.primary_name AS director_name, p.primary_profession
FROM persons AS p
    INNER JOIN directors AS d
        USING(person_id);
""", conn)

director_data

,director_id,person_id,director_name,primary_profession
0,nm0062879,nm0062879,Ruel S. Bayani,"director,production_manager,miscellaneous"
1,nm0064023,nm0064023,Bryan Beasley,"director,producer,writer"
2,nm0066268,nm0066268,Steve Mitchell Beebe,"editorial_department,director,editor"
3,nm0067234,nm0067234,Hans Beimler,"producer,writer,miscellaneous"
4,nm0068874,nm0068874,Hava Kohav Beller,"director,writer,producer"
...,...,...,...,...
109246,nm9964916,nm9964916,Rich Allen,"director,actor,writer"
109247,nm9971456,nm9971456,Zheng Wei,director
109248,nm9980896,nm9980896,Rama Narayanan,"director,writer"
109249,nm9981679,nm9981679,Samir Eshra,"director,writer,cinematographer"
109250,nm9993380,nm9993380,Pegasus Envoyé,"director,actor,writer"

Check for duplicates in column director_id and person_id which are unique identifiers

In [82]:
# Display count of unique and duplicated data
director_name = ["director_id", "person_id"]
# imported function from custom_func.py.
dup(director_data, director_name)

Checking for Duplicates

=> director_id
False    109251
Name: director_id, dtype: int64
 ***No duplicates
------------------

=> person_id
False    109251
Name: person_id, dtype: int64
 ***No duplicates
------------------

Remove duplicates together with any related data from entire dataframe above.

In [83]:
director_data.drop_duplicates(subset='director_name', ignore_index=True, inplace=True)

# Confirm if the duplicates were removed and the total number of rows matches the above false value derived from value_counts
director_data

,director_id,person_id,director_name,primary_profession
0,nm0062879,nm0062879,Ruel S. Bayani,"director,production_manager,miscellaneous"
1,nm0064023,nm0064023,Bryan Beasley,"director,producer,writer"
2,nm0066268,nm0066268,Steve Mitchell Beebe,"editorial_department,director,editor"
3,nm0067234,nm0067234,Hans Beimler,"producer,writer,miscellaneous"
4,nm0068874,nm0068874,Hava Kohav Beller,"director,writer,producer"
...,...,...,...,...
106752,nm9951412,nm9951412,Dale Bailey,director
106753,nm9959513,nm9959513,Irem Yavuz,"director,editorial_department"
106754,nm9980896,nm9980896,Rama Narayanan,"director,writer"
106755,nm9981679,nm9981679,Samir Eshra,"director,writer,cinematographer"
106756,nm9993380,nm9993380,Pegasus Envoyé,"director,actor,writer"

### Create a dataframe below : **movie_data** 

**Join movie_basics, movie_ratings, directors**

Display Genre, Average ratings with respect to the directors.

In [84]:
movie_data = pd.read_sql("""
SELECT DISTINCT mb.movie_id, mb.primary_title, mb.start_year, mb.runtime_minutes AS duration, mb.genres, 
                mr.averagerating, mr.numvotes, d.person_id AS director_id, p.primary_name AS director_name, p.primary_profession
FROM movie_basics AS mb
    JOIN movie_ratings AS mr
        on mr.movie_id = mb.movie_id
    JOIN directors AS d
        on d.movie_id = mb.movie_id
    JOIN persons AS p
        on p.person_id = d.person_id                 
    ;
""", 
conn)

movie_data

,movie_id,primary_title,start_year,duration,genres,averagerating,numvotes,director_id,director_name,primary_profession
0,tt0063540,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,nm0712540,Harnam Singh Rawail,"director,writer,producer"
1,tt0066787,One Day Before the Rainy Season,2019,114.0,"Biography,Drama",7.2,43,nm0002411,Mani Kaul,"director,writer,actor"
2,tt0069049,The Other Side of the Wind,2018,122.0,Drama,6.9,4517,nm0000080,Orson Welles,"actor,director,writer"
3,tt0069204,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13,nm0611531,Hrishikesh Mukherjee,"director,editor,writer"
4,tt0100275,The Wandering Soap Opera,2017,80.0,"Comedy,Drama,Fantasy",6.5,119,nm0749914,Raoul Ruiz,"director,writer,producer"
...,...,...,...,...,...,...,...,...,...,...
86025,tt9913084,Diabolik sono io,2019,75.0,Documentary,6.2,6,nm0812850,Giancarlo Soldi,"director,writer,producer"
86026,tt9914286,Sokagin Çocuklari,2019,98.0,"Drama,Family",8.7,136,nm4394529,Ahmet Faik Akinci,"director,writer"
86027,tt9914642,Albatross,2017,NaN,Documentary,8.5,8,nm5300859,Chris Jordan,"director,writer,editor"
86028,tt9914942,La vida sense la Sara Amat,2019,NaN,None,6.6,5,nm1716653,Laura Jou,"miscellaneous,actress,director"
86029,tt9916160,Drømmeland,2019,72.0,Documentary,6.5,11,nm5684093,Joost van der Wiel,"director,cinematographer,writer"

In [85]:
movie_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86030 entries, 0 to 86029
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movie_id            86030 non-null  object
 1   primary_title       86030 non-null  object
 2   start_year          86030 non-null  int64
 3   duration            77112 non-null  float64
 4   genres              85232 non-null  object
 5   averagerating       86030 non-null  float64
 6   numvotes            86030 non-null  int64
 7   director_id         86030 non-null  object
 8   director_name       86030 non-null  object
 9   primary_profession  85941 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 6.6+ MB

Check for duplicates in columns movie_id and primary_title from the movie_data dataframe above which identifies as sensitive data.

In [86]:
movie_data_columns = ["movie_id", "primary_title"]

# imported function from custom_func.py.
dup(movie_data, movie_data_columns)

Checking for Duplicates

=> movie_id
False    73103
True     12927
Name: movie_id, dtype: int64
 ***Found duplicates
------------------

=> primary_title
False    69285
True     16745
Name: primary_title, dtype: int64
 ***Found duplicates
------------------

**Delete duplicates** in the specified columns together with any related data in the dataframe

In [87]:
# remove_dup from column primary_title as observed above.
movie_data.drop_duplicates(subset=movie_data_columns, ignore_index=True, inplace=True)

In [88]:
#Display all information in the movie_data dataframe.
movie_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73103 entries, 0 to 73102
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movie_id            73103 non-null  object
 1   primary_title       73103 non-null  object
 2   start_year          73103 non-null  int64
 3   duration            65760 non-null  float64
 4   genres              72440 non-null  object
 5   averagerating       73103 non-null  float64
 6   numvotes            73103 non-null  int64
 7   director_id         73103 non-null  object
 8   director_name       73103 non-null  object
 9   primary_profession  73036 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 5.6+ MB

**Dropping missing values** and all data that is associated with columns duration and genres.

In [89]:
movie_data.dropna(subset=["duration", "genres"], inplace=True)

In [90]:
# View if our columns have identical number of rows and entries in the dataframe.
movie_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65304 entries, 0 to 73102
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movie_id            65304 non-null  object
 1   primary_title       65304 non-null  object
 2   start_year          65304 non-null  int64
 3   duration            65304 non-null  float64
 4   genres              65304 non-null  object
 5   averagerating       65304 non-null  float64
 6   numvotes            65304 non-null  int64
 7   director_id         65304 non-null  object
 8   director_name       65304 non-null  object
 9   primary_profession  65248 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 5.5+ MB

In [91]:
movie_data.tail(20)

,movie_id,primary_title,start_year,duration,genres,averagerating,numvotes,director_id,director_name,primary_profession
73080,tt9900180,Aavahayami,2017,97.0,Mystery,9.0,9,nm10531566,Girish Kumar,"director,actor,manager"
73081,tt9900388,Hansa Ek Sanyog,2019,135.0,Drama,7.8,8,nm10531592,Dhiraj Verma,None
73082,tt9900552,The Sacred Riana: Beginning,2019,111.0,Horror,7.2,17,nm4479905,Billy Christian,"director,writer,assistant_director"
73083,tt9903716,Jessie,2019,106.0,"Horror,Thriller",8.5,100,nm10532693,Aswani Kumar V.,"director,writer"
73084,tt9903952,BADMEN with a good behavior,2018,87.0,"Comedy,Horror",9.2,5,nm10532891,Loco Meisenkaiser,"director,actor,writer"
73085,tt9904014,Lost in Klessin,2018,90.0,War,7.3,12,nm6960704,Heintje Peter,"director,editor,producer"
73086,tt9904820,American Terror Story,2019,76.0,Horror,2.6,19,nm4677501,Terry Spears,"sound_department,producer,director"
73087,tt9904844,Ott Tänak: The Movie,2019,125.0,Documentary,8.7,218,nm4942142,Tarvo Mölder,"director,actor"
73088,tt9905412,Ottam,2019,120.0,Drama,8.1,505,nm10533890,Zam,director
73089,tt9905462,Pengalila,2019,111.0,Drama,8.4,600,nm0151535,T.V. Chandran,"director,writer,actor"
73090,tt9905476,Hand Rolled,2019,90.0,Documentary,9.3,13,nm10523880,Steve Gherebean,"editor,producer,director"
73092,tt9906218,Unstoppable,2019,84.0,Documentary,8.1,8,nm0932216,Nick Willing,"writer,director,producer"
73093,tt9908960,Pliusas,2018,90.0,Comedy,4.2,13,nm10534967,Mark Goldman,None
73094,tt9910502,Hayatta Olmaz,2019,97.0,Comedy,7.0,9,nm7288238,Emre Çaltili,"actor,director,writer"
73095,tt9910930,Jeg ser deg,2019,75.0,"Crime,Documentary",6.1,7,nm10536332,Maria Salazar,None
73096,tt9911774,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.4,365,nm10536451,Vineesh Aaradya,"writer,director"
73097,tt9913056,Swarm Season,2019,86.0,Documentary,6.2,5,nm1502645,Sarah Christman,"miscellaneous,director,editor"
73098,tt9913084,Diabolik sono io,2019,75.0,Documentary,6.2,6,nm0812850,Giancarlo Soldi,"director,writer,producer"
73099,tt9914286,Sokagin Çocuklari,2019,98.0,"Drama,Family",8.7,136,nm4394529,Ahmet Faik Akinci,"director,writer"
73102,tt9916160,Drømmeland,2019,72.0,Documentary,6.5,11,nm5684093,Joost van der Wiel,"director,cinematographer,writer"

In [93]:
movie_data["director_name"].value_counts()

Sergey A.              33
Michael Fredianelli    28
Nayato Fio Nuala       28
David DeCoteau         26
Ram Gopal Varma        21
                       ..
Andreas Pfiffner        1
Stephen van Vuuren      1
Bruce Wodder            1
Aldo Lado               1
Ekoué Labitey           1
Name: director_name, Length: 44032, dtype: int64

In [95]:
# check for typos
for x in movie_data["director_name"]:
    if x == "None":
        print(x)
        print("")
    else:
       pass