# **Studio-Afrik**

## Overview

With the increasing trend of big studios creating original video content, Studio-Afrik has decided to establish a new movie studio. However, we <br/> currently lack expertise in movie production. To ensure our new venture's success, it is crucial to to carry out data analysis from historical data. <br/> We can derive actionable insights to guide the head of Studio-Afrik in making informed decisions about the types of films to produce.

## Business Understanding

Studio-Afrik aims to enter the movie production industry by establishing its new movie studio. The primary goal is to create original video content that <br/> resonates with audiences and performs well at the box office, leveraging the current trend among big companies.

To ensure the success in this new indurstry, it is crucial to understand the types of films that are currently performing best. This involves analyzing <br/> market trends, audience preferences, and the financial performance of various genres and film types.

## Data Understanding

## Imports & Data

The code cell below contain libraries that are essential in this project analysis.

In [39]:
# Perfom data manipulation and analysis.
import pandas as pd

# Perfoming mathematical calculations.
import numpy as np

# The two libraries below will aid in creating visualizations.
import matplotlib as plt 
import seaborn as sns

# This library helps in accessing our relational database.
import sqlite3

# Code below imports all code in the custom_func file
from custom_code import *

### Working with available data

I. **Relational Database**

1. im.db

II. **CSV FILES**

2. tn.movie_budgets.csv

### 1. IMDB

This dataset comprises of multiple tables containing information about movies. The tables of interest are: movie_basics and movie_ratings.

The movie_basics table includes movie titles, release year, and genres. The movie_ratings table includes average movie rating and number of votes. The <br/>
primary key for both tables is movie_id which will help in joining the two tables.

Here, I am creating a Connection to the relational database from im.db using module sqlite3.

In [40]:
path = "Data/im.db"
conn = sqlite3.connect(path)

Display all the tables in the imdb database

In [41]:
query = """
SELECT name 
FROM sqlite_master 
    WHERE type = 'table';
"""
# print tables in the sql database
imdb_tables = pd.read_sql(query, conn)

In order to start using our data, you will have to view information from tables I find relevant to complete this analysis.

Movie Ratings table

In [42]:
query = """
SELECT * 
FROM movie_ratings;
"""

movie_ratings = pd.read_sql(query, conn)
movie_ratings.head()

     movie_id  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

Movie Basics table

In [43]:
query = """
SELECT * 
FROM movie_basics;
"""

movie_basics= pd.read_sql(query, conn)
movie_basics.head(5)

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

Director Names

JOIN persons table and directors table

In [44]:
query = """
SELECT DISTINCT d.movie_id, d.person_id AS director_id, p.primary_name AS director_name
FROM persons AS p
    INNER JOIN directors AS d
        USING(person_id);
"""

director_data = pd.read_sql(query, conn)
director_data

         movie_id director_id   director_name
0       tt1592569   nm0062879  Ruel S. Bayani
1       tt2057445   nm0062879  Ruel S. Bayani
2       tt2590280   nm0062879  Ruel S. Bayani
3       tt8421806   nm0062879  Ruel S. Bayani
4       tt3501180   nm0064023   Bryan Beasley
...           ...         ...             ...
163528  tt8697720   nm9971456       Zheng Wei
163529  tt8715016   nm9980896  Rama Narayanan
163530  tt8919136   nm9980896  Rama Narayanan
163531  tt8717234   nm9981679     Samir Eshra
163532  tt8743182   nm9993380  Pegasus Envoyé

[163533 rows x 3 columns]

### 2. tn.movie_budgets.csv

This dataset contain financial information about each movie in their dataset. The columns production budget, domestic gross and worldwide gross <br/>
describes how much was spent during production and its return after production in each movie.

It will also help us calculate the foreign gross and net profit based on domestic,foreign and total profit.

In [45]:
finance_df = pd.read_csv("Data/tn.movie_budgets.csv")
display(finance_df.head())
# Check if our dataset contains missing values
display(finance_df.info())

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,18-Dec-09,Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,20-May-11,Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,7-Jun-19,Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,1-May-15,Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,15-Dec-17,Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

None

## Data Preparation

Transforming raw data from the above datasets into a format that can be easily and effectively used for analysis.

### Relationa Database - IMDB

#### merge movie basics table with movie ratings table from imdb to get more detailed information about movies.

In [165]:
movie_details = movie_basics.merge(movie_ratings, how="inner", left_on="movie_id", right_on="movie_id")

movie_details

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119
...,...,...,...,...,...,...,...,...
73851,tt9913084,Diabolik sono io,Diabolik sono io,2019,75.0,Documentary,6.2,6
73852,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,98.0,"Drama,Family",8.7,136
73853,tt9914642,Albatross,Albatross,2017,NaN,Documentary,8.5,8
73854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,NaN,None,6.6,5
73855,tt9916160,Drømmeland,Drømmeland,2019,72.0,Documentary,6.5,11

In [166]:
# Renaming columns in the movie details dataframe
movie_details.rename(columns={"primary_title": "title", "runtime_minutes": "duration", "genres": "genre", "averagerating": "rating", "numvotes": "votes"}, inplace=True)

In [167]:
# Display more information about the data
movie_details.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73856 entries, 0 to 73855
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   movie_id        73856 non-null  object
 1   title           73856 non-null  object
 2   original_title  73856 non-null  object
 3   start_year      73856 non-null  int64
 4   duration        66236 non-null  float64
 5   genre           73052 non-null  object
 6   rating          73856 non-null  float64
 7   votes           73856 non-null  int64
dtypes: float64(2), int64(2), object(4)
memory usage: 5.1+ MB

Dealing with missing values in movie_details dataframe

In [168]:
# check for missing values
movie_details.isna().sum()

movie_id             0
title                0
original_title       0
start_year           0
duration          7620
genre              804
rating               0
votes                0
dtype: int64

In [169]:
# Drop all missing values in column genre
movie_details = movie_details.dropna(subset = ["genre"])

# fill all missing values in duration with the mean of its column
movie_details.loc[:, "duration"].fillna(value=round(movie_details["duration"].mean()))

movie_details = movie_details.reset_index(drop=True)

In [170]:
# Check if there is any existing missing values
movie_details.isna().sum()

movie_id             0
title                0
original_title       0
start_year           0
duration          7332
genre                0
rating               0
votes                0
dtype: int64

In [171]:
# Preview count of how many movies produced per yearly
yearly_movie_count = movie_details.groupby("start_year").count()
yearly_movie_count

            movie_id  title  original_title  duration  genre  rating  votes
start_year
2010            6701   6701            6701      6038   6701    6701   6701
2011            7274   7274            7274      6542   7274    7274   7274
2012            7602   7602            7602      6866   7602    7602   7602
2013            7905   7905            7905      7216   7905    7905   7905
2014            8269   8269            8269      7528   8269    8269   8269
2015            8405   8405            8405      7650   8405    8405   8405
2016            8613   8613            8613      7785   8613    8613   8613
2017            8638   8638            8638      7718   8638    8638   8638
2018            7476   7476            7476      6573   7476    7476   7476
2019            2169   2169            2169      1804   2169    2169   2169

In [172]:
# Navigation through the genre column and only keeping the first genre where multiple genres describes a single movie

movie_details.loc[:, 'genre'].str.split(',').apply(lambda x: x[0]).reset_index(drop=True)

0             Action
1          Biography
2              Drama
3             Comedy
4             Comedy
            ...
73047    Documentary
73048    Documentary
73049          Drama
73050    Documentary
73051    Documentary
Name: genre, Length: 73052, dtype: object

In [173]:
movie_details

,movie_id,title,original_title,start_year,duration,genre,rating,votes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119
...,...,...,...,...,...,...,...,...
73047,tt9913056,Swarm Season,Swarm Season,2019,86.0,Documentary,6.2,5
73048,tt9913084,Diabolik sono io,Diabolik sono io,2019,75.0,Documentary,6.2,6
73049,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,98.0,"Drama,Family",8.7,136
73050,tt9914642,Albatross,Albatross,2017,NaN,Documentary,8.5,8
73051,tt9916160,Drømmeland,Drømmeland,2019,72.0,Documentary,6.5,11

In [174]:
# convert year into a string so as to perform aggregate functions on the movie details dataframe.
movie_details['start_year'] = movie_details['start_year'].astype(str)

# convert rating into an integer so as to perform aggregate functions on the movie details dataframe.
movie_details['rating'] = movie_details['rating'].astype(int)

In [175]:
# display information
movie_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73052 entries, 0 to 73051
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   movie_id        73052 non-null  object
 1   title           73052 non-null  object
 2   original_title  73052 non-null  object
 3   start_year      73052 non-null  object
 4   duration        65720 non-null  float64
 5   genre           73052 non-null  object
 6   rating          73052 non-null  int32
 7   votes           73052 non-null  int64
dtypes: float64(1), int32(1), int64(1), object(5)
memory usage: 4.2+ MB

Aggregate functions

In [176]:
# Group by genre and calculate the mean of ratings and votes
movie_avg_rating_genre = movie_details.groupby('genre')["rating", "votes", "duration"].mean().sort_values(by='rating', ascending=False)
movie_avg_rating_genre = movie_avg_rating_genre.round({"rating": 1, "votes": 0, "duration": 0})
movie_avg_rating_genre

<ipython-input-176-8a0a2932c1eb>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  movie_avg_rating_genre = movie_details.groupby('genre')["rating", "votes", "duration"].mean().sort_values(by='rating', ascending=False)

                            rating  votes  duration
genre
Game-Show                      9.0    7.0     130.0
Comedy,Documentary,Fantasy     9.0    5.0      70.0
Music,Mystery                  9.0    5.0       NaN
History,Sport                  9.0    5.0       NaN
Documentary,Family,Musical     9.0   19.0      59.0
...                            ...    ...       ...
Adventure,Crime,Romance        2.0    9.0      86.0
History,Sci-Fi,Thriller        2.0  227.0     120.0
Animation,Horror,Romance       2.0    6.0      87.0
Adult,Horror                   2.0  128.0     120.0
Comedy,Musical,Sport           1.0   28.0     101.0

[923 rows x 3 columns]

In [177]:
# Number of movies per genre
movie_avg_rating_genre['movies_per_genre'] = movie_details.groupby('genre')['movie_id'].count()
movie_avg_rating_genre

                            rating  votes  duration  movies_per_genre
genre
Game-Show                      9.0    7.0     130.0                 1
Comedy,Documentary,Fantasy     9.0    5.0      70.0                 1
Music,Mystery                  9.0    5.0       NaN                 1
History,Sport                  9.0    5.0       NaN                 1
Documentary,Family,Musical     9.0   19.0      59.0                 1
...                            ...    ...       ...               ...
Adventure,Crime,Romance        2.0    9.0      86.0                 1
History,Sci-Fi,Thriller        2.0  227.0     120.0                 1
Animation,Horror,Romance       2.0    6.0      87.0                 1
Adult,Horror                   2.0  128.0     120.0                 1
Comedy,Musical,Sport           1.0   28.0     101.0                 1

[923 rows x 4 columns]

In [178]:
# filtering out genres that have a count less than 500
filter_movie_avg_rating_genre = movie_avg_rating_genre.loc[movie_avg_rating_genre['movies_per_genre'] > 500]
filter_movie_avg_rating_genre

                       rating   votes  duration  movies_per_genre
genre
Documentary,Music         7.0   679.0      89.0               579
Documentary,Drama         6.9   243.0      79.0               582
Documentary               6.8   173.0      89.0             10313
Biography,Documentary     6.8   289.0      80.0               694
Drama                     6.1   723.0      98.0             11612
Comedy,Drama              5.9  2470.0      99.0              2617
Comedy,Drama,Romance      5.8  6346.0     100.0              1208
Drama,Romance             5.8  3671.0     103.0              1510
Crime,Drama,Thriller      5.7  6672.0      99.0               504
Drama,Thriller            5.7  3919.0      96.0               990
Romance                   5.6   195.0     110.0               717
Action,Crime,Drama        5.6  9900.0     105.0               562
Comedy,Romance            5.4  3845.0     103.0              1236
Comedy                    5.3  1217.0      96.0              5613
Action                    5.3   336.0     103.0               979
Thriller                  5.3   283.0      95.0              1555
Comedy,Horror             4.7  1522.0      90.0               579
Horror                    4.4   589.0      86.0              2692
Horror,Thriller           4.4  3093.0      89.0              1004

#### Merge movie details dataframe with director data dataframe to get all the information about movies produced.

The Movie details dataframe contains data about movie id, title, year, time, genres, ratings, votes and the director data dataframe contains information <br/>
about movie id, director name

In [159]:
movie_infor = movie_details.merge(director_data, how="inner", left_on="movie_id", right_on="movie_id")

movie_infor

,movie_id,title,original_title,start_year,duration,genre,rating,votes,director_id,director_name
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,Action,7,77,nm0712540,Harnam Singh Rawail
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,Biography,7,43,nm0002411,Mani Kaul
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6,4517,nm0000080,Orson Welles
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,95.0,Comedy,6,13,nm0611531,Hrishikesh Mukherjee
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,Comedy,6,119,nm0749914,Raoul Ruiz
...,...,...,...,...,...,...,...,...,...,...
85227,tt9913056,Swarm Season,Swarm Season,2019,86.0,Documentary,6,5,nm1502645,Sarah Christman
85228,tt9913084,Diabolik sono io,Diabolik sono io,2019,75.0,Documentary,6,6,nm0812850,Giancarlo Soldi
85229,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,98.0,Drama,8,136,nm4394529,Ahmet Faik Akinci
85230,tt9914642,Albatross,Albatross,2017,95.0,Documentary,8,8,nm5300859,Chris Jordan
85231,tt9916160,Drømmeland,Drømmeland,2019,72.0,Documentary,6,11,nm5684093,Joost van der Wiel

#### CSV File

Dealing with data from the csv datasets.

**tn.movie_budgets.csv** <br/>
The tn.movie_budgets.csv dataset contain data about finances in the movie indurstry. The data available includes production budget, domestic gross, <br/>
worldwide gross that will help us calculate the foreign gross and the net profit based on domestic, foreign and worldwide film production.

In [48]:
finance_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,18-Dec-09,Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,20-May-11,Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,7-Jun-19,Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,1-May-15,Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,15-Dec-17,Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,31-Dec-18,Red 11,"$7,000",$0,$0
5778,79,2-Apr-99,Following,"$6,000","$48,482","$240,495"
5779,80,13-Jul-05,Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,29-Sep-15,A Plague So Pleasant,"$1,400",$0,$0
5781,82,5-Aug-05,My Date With Drew,"$1,100","$181,041","$181,041"

In [179]:
movie_infor2 = movie_details.merge(finance_df, how="inner", left_on="title", right_on="movie")

movie_infor2

,movie_id,title,original_title,start_year,duration,genre,rating,votes,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,foreign_gross,domestic_profit,foreign_profit,net_profit
0,tt0249516,Foodfight!,Foodfight!,2012,91.0,"Action,Animation,Comedy",1,8248,26,31-Dec-12,Foodfight!,45000000,0,73706,73706,-45000000,-44926294,-44926294
1,tt0337692,On the Road,On the Road,2012,124.0,"Adventure,Drama,Romance",6,37886,17,22-Mar-13,On the Road,25000000,720828,9313302,8592474,-24279172,-16407526,-15686698
2,tt4339118,On the Road,On the Road,2014,89.0,Drama,6,6,17,22-Mar-13,On the Road,25000000,720828,9313302,8592474,-24279172,-16407526,-15686698
3,tt5647250,On the Road,On the Road,2016,121.0,Drama,5,127,17,22-Mar-13,On the Road,25000000,720828,9313302,8592474,-24279172,-16407526,-15686698
4,tt0359950,The Secret Life of Walter Mitty,The Secret Life of Walter Mitty,2013,114.0,"Adventure,Comedy,Drama",7,275300,37,25-Dec-13,The Secret Life of Walter Mitty,91000000,58236838,187861183,129624345,-32763162,38624345,96861183
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2862,tt8680254,Richard III,Richard III,2016,NaN,Drama,9,28,65,29-Dec-95,Richard III,9200000,2684904,4199334,1514430,-6515096,-7685570,-5000666
2863,tt8824064,Heroes,Heroes,2019,88.0,Documentary,7,7,12,24-Oct-08,Heroes,400000,655538,655538,0,255538,-400000,255538
2864,tt8976772,Push,Push,2019,92.0,Documentary,7,33,70,6-Feb-09,Push,38000000,31811527,49678401,17866874,-6188473,-20133126,11678401
2865,tt9024106,Unplanned,Unplanned,2019,106.0,"Biography,Drama",6,5945,33,29-Mar-19,Unplanned,6000000,18107621,18107621,0,12107621,-6000000,12107621
2866,tt9248762,The Terrorist,The Terrorist,2018,NaN,Thriller,6,6,48,14-Jan-00,The Terrorist,25000,195043,195043,0,170043,-25000,170043

Before performing any calculations, we need to ensure we are dealing with numbers by checking the data type. In this dataset, <br/>
the columns with finace data need to be cleaned.

The function call below helps convert production budget, domestic gross, worldwide gross into intergers and remove any unnecessary string punctuations.

In [49]:
# columns to apply in my function
my_finance_columns = ["domestic_gross", "production_budget", "worldwide_gross"]

# imported function from custom_func.py
finance_col(finance_df, my_finance_columns)

In [50]:
# finance gross
finance_df["foreign_gross"] = finance_df["worldwide_gross"] - finance_df["domestic_gross"]

# domestic profit
finance_df["domestic_profit"] = finance_df["domestic_gross"] - finance_df["production_budget"]

# foreign profit
finance_df["foreign_profit"] = finance_df["foreign_gross"] - finance_df["production_budget"]

# net profit
finance_df["net_profit"] = finance_df["worldwide_gross"] - finance_df["production_budget"]

In [51]:
finance_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,foreign_gross,domestic_profit,foreign_profit,net_profit
0,1,18-Dec-09,Avatar,425000000,760507625,2776345279,2015837654,335507625,1590837654,2351345279
1,2,20-May-11,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,804600000,-169536125,394000000,635063875
2,3,7-Jun-19,Dark Phoenix,350000000,42762350,149762350,107000000,-307237650,-243000000,-200237650
3,4,1-May-15,Avengers: Age of Ultron,330600000,459005868,1403013963,944008095,128405868,613408095,1072413963
4,5,15-Dec-17,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,696540365,303181382,379540365,999721747
...,...,...,...,...,...,...,...,...,...,...
5777,78,31-Dec-18,Red 11,7000,0,0,0,-7000,-7000,-7000
5778,79,2-Apr-99,Following,6000,48482,240495,192013,42482,186013,234495
5779,80,13-Jul-05,Return to the Land of Wonders,5000,1338,1338,0,-3662,-5000,-3662
5780,81,29-Sep-15,A Plague So Pleasant,1400,0,0,0,-1400,-1400,-1400
5781,82,5-Aug-05,My Date With Drew,1100,181041,181041,0,179941,-1100,179941

#### Drop columns that will not be applied in my analysis.

In [52]:
# movie_infor.drop(columns=["original_title"])

In [53]:
display(movie_ratings.info())
display(movie_basics.info())
display(movie_infor.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   movie_id       73856 non-null  object
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   movie_id         146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86030 entries, 0 to 86029
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   movie_id         86030 non-null  object
 1   primary_title    86030 non-null  object
 2   original_title   86030 non-null  object
 3   start_year       86030 non-null  int64
 4   runtime_minutes  77112 non-null  float64
 5   genres           85232 non-null  object
 6   averagerating    86030 non-null  float64
 7   numvotes         86030 non-null  int64
 8   director_id      86030 non-null  object
 9   director_name    86030 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 7.2+ MB

None

### Create a dataframe below : **movie_data** 

**Join movie_basics, movie_ratings, directors**

Display Genre, Average ratings with respect to the directors.

In [ ]:
movie_data = pd.read_sql("""
SELECT DISTINCT mb.movie_id, mb.primary_title, mb.start_year, mb.runtime_minutes AS duration, mb.genres, 
                mr.averagerating, mr.numvotes, d.person_id AS director_id, p.primary_name AS director_name, p.primary_profession
FROM movie_basics AS mb
    JOIN movie_ratings AS mr
        on mr.movie_id = mb.movie_id
    JOIN directors AS d
        on d.movie_id = mb.movie_id
    JOIN persons AS p
        on p.person_id = d.person_id                 
    ;
""", 
conn)

movie_data

,movie_id,primary_title,start_year,duration,genres,averagerating,numvotes,director_id,director_name,primary_profession
0,tt0063540,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,nm0712540,Harnam Singh Rawail,"director,writer,producer"
1,tt0066787,One Day Before the Rainy Season,2019,114.0,"Biography,Drama",7.2,43,nm0002411,Mani Kaul,"director,writer,actor"
2,tt0069049,The Other Side of the Wind,2018,122.0,Drama,6.9,4517,nm0000080,Orson Welles,"actor,director,writer"
3,tt0069204,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13,nm0611531,Hrishikesh Mukherjee,"director,editor,writer"
4,tt0100275,The Wandering Soap Opera,2017,80.0,"Comedy,Drama,Fantasy",6.5,119,nm0749914,Raoul Ruiz,"director,writer,producer"
...,...,...,...,...,...,...,...,...,...,...
86025,tt9913084,Diabolik sono io,2019,75.0,Documentary,6.2,6,nm0812850,Giancarlo Soldi,"director,writer,producer"
86026,tt9914286,Sokagin Çocuklari,2019,98.0,"Drama,Family",8.7,136,nm4394529,Ahmet Faik Akinci,"director,writer"
86027,tt9914642,Albatross,2017,NaN,Documentary,8.5,8,nm5300859,Chris Jordan,"director,writer,editor"
86028,tt9914942,La vida sense la Sara Amat,2019,NaN,None,6.6,5,nm1716653,Laura Jou,"miscellaneous,actress,director"
86029,tt9916160,Drømmeland,2019,72.0,Documentary,6.5,11,nm5684093,Joost van der Wiel,"director,cinematographer,writer"

In [ ]:
movie_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86030 entries, 0 to 86029
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movie_id            86030 non-null  object
 1   primary_title       86030 non-null  object
 2   start_year          86030 non-null  int64
 3   duration            77112 non-null  float64
 4   genres              85232 non-null  object
 5   averagerating       86030 non-null  float64
 6   numvotes            86030 non-null  int64
 7   director_id         86030 non-null  object
 8   director_name       86030 non-null  object
 9   primary_profession  85941 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 6.6+ MB

Check for duplicates in columns movie_id and primary_title from the movie_data dataframe above which identifies as sensitive data.

In [ ]:
movie_data_columns = ["movie_id", "primary_title"]

# imported function from custom_func.py.
dup(movie_data, movie_data_columns)

Checking for Duplicates

=> movie_id
False    73103
True     12927
Name: movie_id, dtype: int64
 ***Found duplicates
------------------

=> primary_title
False    69285
True     16745
Name: primary_title, dtype: int64
 ***Found duplicates
------------------

**Delete duplicates** in the specified columns together with any related data in the dataframe

In [ ]:
# remove_dup from column primary_title as observed above.
movie_data.drop_duplicates(subset=movie_data_columns, ignore_index=True, inplace=True)

In [ ]:
#Display all information in the movie_data dataframe.
movie_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73103 entries, 0 to 73102
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movie_id            73103 non-null  object
 1   primary_title       73103 non-null  object
 2   start_year          73103 non-null  int64
 3   duration            65760 non-null  float64
 4   genres              72440 non-null  object
 5   averagerating       73103 non-null  float64
 6   numvotes            73103 non-null  int64
 7   director_id         73103 non-null  object
 8   director_name       73103 non-null  object
 9   primary_profession  73036 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 5.6+ MB

**Dropping missing values** and all data that is associated with columns duration and genres.

In [ ]:
movie_data.dropna(subset=["duration", "genres"], inplace=True)

In [ ]:
# View if our columns have identical number of rows and entries in the dataframe.
movie_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65304 entries, 0 to 73102
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movie_id            65304 non-null  object
 1   primary_title       65304 non-null  object
 2   start_year          65304 non-null  int64
 3   duration            65304 non-null  float64
 4   genres              65304 non-null  object
 5   averagerating       65304 non-null  float64
 6   numvotes            65304 non-null  int64
 7   director_id         65304 non-null  object
 8   director_name       65304 non-null  object
 9   primary_profession  65248 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 5.5+ MB

In [ ]:
movie_data.tail(20)

,movie_id,primary_title,start_year,duration,genres,averagerating,numvotes,director_id,director_name,primary_profession
73080,tt9900180,Aavahayami,2017,97.0,Mystery,9.0,9,nm10531566,Girish Kumar,"director,actor,manager"
73081,tt9900388,Hansa Ek Sanyog,2019,135.0,Drama,7.8,8,nm10531592,Dhiraj Verma,None
73082,tt9900552,The Sacred Riana: Beginning,2019,111.0,Horror,7.2,17,nm4479905,Billy Christian,"director,writer,assistant_director"
73083,tt9903716,Jessie,2019,106.0,"Horror,Thriller",8.5,100,nm10532693,Aswani Kumar V.,"director,writer"
73084,tt9903952,BADMEN with a good behavior,2018,87.0,"Comedy,Horror",9.2,5,nm10532891,Loco Meisenkaiser,"director,actor,writer"
73085,tt9904014,Lost in Klessin,2018,90.0,War,7.3,12,nm6960704,Heintje Peter,"director,editor,producer"
73086,tt9904820,American Terror Story,2019,76.0,Horror,2.6,19,nm4677501,Terry Spears,"sound_department,producer,director"
73087,tt9904844,Ott Tänak: The Movie,2019,125.0,Documentary,8.7,218,nm4942142,Tarvo Mölder,"director,actor"
73088,tt9905412,Ottam,2019,120.0,Drama,8.1,505,nm10533890,Zam,director
73089,tt9905462,Pengalila,2019,111.0,Drama,8.4,600,nm0151535,T.V. Chandran,"director,writer,actor"
73090,tt9905476,Hand Rolled,2019,90.0,Documentary,9.3,13,nm10523880,Steve Gherebean,"editor,producer,director"
73092,tt9906218,Unstoppable,2019,84.0,Documentary,8.1,8,nm0932216,Nick Willing,"writer,director,producer"
73093,tt9908960,Pliusas,2018,90.0,Comedy,4.2,13,nm10534967,Mark Goldman,None
73094,tt9910502,Hayatta Olmaz,2019,97.0,Comedy,7.0,9,nm7288238,Emre Çaltili,"actor,director,writer"
73095,tt9910930,Jeg ser deg,2019,75.0,"Crime,Documentary",6.1,7,nm10536332,Maria Salazar,None
73096,tt9911774,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.4,365,nm10536451,Vineesh Aaradya,"writer,director"
73097,tt9913056,Swarm Season,2019,86.0,Documentary,6.2,5,nm1502645,Sarah Christman,"miscellaneous,director,editor"
73098,tt9913084,Diabolik sono io,2019,75.0,Documentary,6.2,6,nm0812850,Giancarlo Soldi,"director,writer,producer"
73099,tt9914286,Sokagin Çocuklari,2019,98.0,"Drama,Family",8.7,136,nm4394529,Ahmet Faik Akinci,"director,writer"
73102,tt9916160,Drømmeland,2019,72.0,Documentary,6.5,11,nm5684093,Joost van der Wiel,"director,cinematographer,writer"

In [ ]:
movie_data["director_name"].value_counts()

Sergey A.              33
Michael Fredianelli    28
Nayato Fio Nuala       28
David DeCoteau         26
Ram Gopal Varma        21
                       ..
Andreas Pfiffner        1
Stephen van Vuuren      1
Bruce Wodder            1
Aldo Lado               1
Ekoué Labitey           1
Name: director_name, Length: 44032, dtype: int64

In [ ]:
# check for typos
for x in movie_data["director_name"]:
    if x == "None":
        print(x)
        print("")
    else:
       pass